include "modules/environment.kdl"
include "modules/input.kdl"
include "modules/outputs.kdl"
include "modules/defaults.kdl"
include "modules/colours.kdl"
include "modules/layout.kdl"
include "modules/animations.kdl"
include "modules/autostart.kdl"
include "modules/windowrules.kdl"
include "modules/keybinds.kdl"
