directory.default.set = /home/richter/torrents/
session.path.set = /home/richter/.local/share/rtorrent/session/

schedule2 = watch_anime,5,5,"load.start=~/torrents/watch/anime/*.torrent,d.directory.set=~/torrents/anime"
schedule2 = watch_music,5,5,"load.start=~/torrents/watch/music/*.torrent,d.directory.set=~/torrents/music"
schedule2 = watch_games,5,5,"load.start=~/torrents/watch/games/*.torrent,d.directory.set=~/torrents/games"
schedule2 = watch_movies,5,5,"load.start=~/torrents/watch/movies/*.torrent,d.directory.set=~/torrents/movies"
schedule2 = watch_tv,5,5,"load.start=~/torrents/watch/tv/*.torrent,d.directory.set=~/torrents/tv"

port_range = 6881-6889
port_random = yes
dht.mode.set = auto
protocol.pex.set = yes
trackers.use_udp.set = yes

pieces.memory.max.set = 1800M
network.max_open_files.set = 600
network.max_open_sockets.set = 300

encoding.add = utf-8

ratio.enable=
ratio.min.set = 100
ratio.max.set = 300
